<h3><%= @user.name %> profile page</h3>
  <% if !@user.surveys.empty? %>
    <ul>
      <% @user.surveys.each do |survey| %>
      <li class="inline"><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
          <% if survey.user_id == session[:user_id] %>
            <form class="inline-block" method="POST" action="/surveys/<%= survey.id %>">
              <input type="hidden" name="_method" value="DELETE" />
              <input class="banana-button" type="submit" value="Delete Survey">
            </form>
            <a href="/response/<%= survey.id %>/stats" class="banana-button no_decoration" >Stats</a>
            <br>
          <% end %>
      <% end %>
    <%else%>
      <p>You have no surveys yet. Create one!</p>
    </ul>
  <%end%>


