<div id="container">

<h3><%= @survey.title %></h3>

<form method="POST" action="/response">

  <% @survey.questions.each do |q| %>
    <ol>
      <li><%= q.text %><br>
        <ul>
          <% q.choices.each do |c| %>
          <br>
          <input class="survey-buttons" type="radio" name="response[choice_id]" value="<%= c.id %>"> <%= c.text %><br>
          <% end %>
        </ul>
      </li>
    </ol>
  <% end %>
  <input type="hidden" name="response[survey_id]" value="<%= @survey.id %>">
  <input  class="banana-button" type="submit" value="Submit">

</form>
</div>

 <% if @response_errors %>
   <ul>
     <% @response_errors.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 <% end  %>

<% if @survey.user_id == session[:user_id] %>
  <form method="POST" action="/surveys/<%= @survey.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input  class="banana-button" type="submit" value="Delete Survey">
  </form>
<% end %>

